@import "../../styles/variables.css";

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

.side-nav.close {
  width: 73px;
}

.side-nav .logo-name-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.side-nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

.side-nav .logo-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.side-nav .logo-name-container .logo-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
  text-decoration: underline var(--text-color);
}

.side-nav.close .logo-name {
  opacity: 0;
  pointer-events: none;
}

.side-nav .menu-items {
  margin-top: 20px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

body.dark .side-nav .nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

.side-nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.side-nav .nav-links li a:hover :is(i, .link-name) {
  color: var(--primary-color);
}

.side-nav .nav-links li.active :is(i, .link-name) {
  color: var(--primary-color);
}

body.dark .side-nav .nav-links li a:hover :is(i, .link-name) {
  color: var(--text-color);
}

.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--panel-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 20px;
}


@media (max-width: 1000px) {
  .side-nav {
    width: 73px;
  }

  nav.side-nav.close {
    width: 250px;
  }

  .side-nav .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.side-nav.close .logo-name {
    opacity: 1;
    pointer-events: auto;
  }

  .side-nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.side-nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav.side-nav~section.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.side-nav.close~section.main {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav.side-nav~section.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.side-nav.close~section.main .searchbar {
    left: 250px;
    width: calc(100% - 250px);
  }

  .activity .activity-data {
    overflow: scroll;
  }
}

@media (max-width: 500px) {
  .side-nav {
    width: 73px;
  }

  .side-nav.close {
    width: 73px;
  }

  .side-nav .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.side-nav~section.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.side-nav.close~section.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.side-nav~section.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.side-nav.close~section.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  .searchbar .sidebar-toggle {
    display: none;
  }
}