/* Google font Import - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400;500;700;800&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.sidenav {
  background-color: lightcoral;
}
