.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  // background-color #ffffff;
}
.contents {
  max-width: auto;
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // margin: 0 auto;
}

.title {
  // font-weight: 600;
  color: White;
}

.hr {
}
