@import "../../styles/variables.css";

.main {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 10px 30px;
  transition: var(--tran-05);
}

nav.close~.main {
  left: 73px;
  width: calc(100% - 73px);
}

.main .main-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 65px - 80px);
  top: 65px;
  left: 0px;
  padding: 15px;
}