.main-header {
  position: absolute;
  position: sticky or fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  padding: 0 4vw;
  z-index: 1000;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 0 3vw;
  }

  .nav-links {
    display: flex;
    list-style: none;
    .nav-link {
      display: flex;
      list-style: none;
    }
  }
}
